<!DOCTYPE html>
<html lang="en">
  <head>
    
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>


<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<meta name="theme-color" content="#f8f5ec" />
<meta name="msapplication-navbutton-color" content="#f8f5ec">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#f8f5ec">



  <meta name="description" content="搜索"/>













  <link rel="alternate" href="/default" title="Corn1ng's Blog">




  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=2.6.0" />



<link rel="canonical" href="https://corn1ng.github.io/search/"/>


<link rel="stylesheet" type="text/css" href="/css/style.css?v=2.6.0" />



  <link rel="stylesheet" type="text/css" href="/lib/fancybox/jquery.fancybox.css" />




  



  <script id="baidu_push">
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>









    <title> 搜索 - Corn1ng's Blog </title>\
    <style type="text/css">
    .content-wrapper:{top:200px;}
    .footer:{top:200px;}
    </style>
  </head>

  <body><div id="mobile-navbar" class="mobile-navbar">
  <div class="mobile-header-logo">
    <a href="/." class="logo">Corn1ng's Blog</a>
  </div>
  <div class="mobile-navbar-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<nav id="mobile-menu" class="mobile-menu slideout-menu">
  <ul class="mobile-menu-list">
    
      <a href="/">
        <li class="mobile-menu-item">
          
          
            Home
          
        </li>
      </a>
    
      <a href="/archives/">
        <li class="mobile-menu-item">
          
          
            Archives
          
        </li>
      </a>
    
      <a href="/tags">
        <li class="mobile-menu-item">
          
          
            Tags
          
        </li>
      </a>
    
      <a href="/categories">
        <li class="mobile-menu-item">
          
          
            Categories
          
        </li>
      </a>
    
      <a href="/about">
        <li class="mobile-menu-item">
          
          
            About
          
        </li>
      </a>
    
      <a href="/search">
        <li class="mobile-menu-item">
          
          
            Search
          
        </li>
      </a>
    
  </ul>
</nav>

    <div class="container" id="mobile-panel">
      <header id="header" class="header"><div class="logo-wrapper">
  <a href="/." class="logo">Corn1ng's Blog</a>
</div>

<nav class="site-navbar">
  
    <ul id="menu" class="menu">
      
        <li class="menu-item">
          <a class="menu-item-link" href="/">
            
            
              Home
            
          </a>
        </li>
      
        <li class="menu-item">
          <a class="menu-item-link" href="/archives/">
            
            
              Archives
            
          </a>
        </li>
      
        <li class="menu-item">
          <a class="menu-item-link" href="/tags">
            
            
              Tags
            
          </a>
        </li>
      
        <li class="menu-item">
          <a class="menu-item-link" href="/categories">
            
            
              Categories
            
          </a>
        </li>
      
        <li class="menu-item">
          <a class="menu-item-link" href="/about">
            
            
              About
            
          </a>
        </li>
      
        <li class="menu-item">
          <a class="menu-item-link" href="/search">
            
            
              Search
            
          </a>
        </li>
      
    </ul>
  
</nav>

      </header>
      <main id="main" class="main">
        <div class="content-wrapper">
          <div id="content" class="content">
            
  <article class="post">
    <div class="post-content">
      <html>
<center>
	<span class="h1"><button type="button" onclick="resetSearch()"">Search</button></span>
	 <div id="site_search">
        <input type="text" id="local-search-input" style="width: 200px;" results="0">
        <div id="local-search-result"></div>
    </div>
</center>

<script type="text/javascript">
	function resetSearch()
	{
		var search_path = "<%= config.search.path %>";
		if (search_path.length == 0) {
		 search_path = "search.xml";
		}
		var path = "<%= config.root %>" + search_path;
		var search_id = 'local-search-input'
		var content_id ='local-search-result'
		 $.ajax({
				 url: path,
				 dataType: "xml",
				 success: function( xmlResponse ) {
						 // get the contents from search data
						 var datas = $( "entry", xmlResponse ).map(function() {
								 return {
										 title: $( "title", this ).text(),
										 content: $("content",this).text(),
										 url: $( "url" , this).text()
								 };
						 }).get();

						 var $input = document.getElementById(search_id);
						 var $resultContent = document.getElementById(content_id);

						 $input.addEventListener('input', function(){
								 var str='<ul class=\"search-result-list\">';
								 var keywords = this.value.trim().toLowerCase().split(/[\s\-]+/);
								 $resultContent.innerHTML = "";
								 if (this.value.trim().length <= 0) {
										 return;
								 }
								 // perform local searching
								 datas.forEach(function(data) {
										 var isMatch = true;
										 var content_index = [];
										 var data_title = data.title.trim().toLowerCase();
										 var data_content = data.content.trim().replace(/<[^>]+>/g,"").toLowerCase();
										 var data_url = data.url;
										 var index_title = -1;
										 var index_content = -1;
										 var first_occur = -1;
										 // only match artiles with not empty titles and contents
										 if(data_title != '' && data_content != '') {
												 keywords.forEach(function(keyword, i) {
														 index_title = data_title.indexOf(keyword);
														 index_content = data_content.indexOf(keyword);

														 if( index_title < 0 && index_content < 0 ){
																 isMatch = false;
														 } else {
																 if (index_content < 0) {
																		 index_content = 0;
																 }
																 if (i == 0) {
																		 first_occur = index_content;
																 }
														 }
												 });
										 }
										 // show search results
										 if (isMatch) {
												 str += "<li><a href='"+ data_url +"' class='search-result-title'>"+ data_title +"</a>";
												 var content = data.content.trim().replace(/<[^>]+>/g,"");
												 if (first_occur >= 0) {
														 // cut out 100 characters
														 var start = first_occur - 20;
														 var end = first_occur + 80;

														 if(start < 0){
																 start = 0;
														 }

														 if(start == 0){
																 end = 100;
														 }

														 if(end > content.length){
																 end = content.length;
														 }

														 var match_content = content.substr(start, end);

														 // highlight all keywords
														 keywords.forEach(function(keyword){
																 var regS = new RegExp(keyword, "gi");
																 match_content = match_content.replace(regS, "<em class=\"search-keyword\">"+keyword+"</em>");
														 });

														 str += "<p class=\"search-result\">" + match_content +"...</p>"
												 }
												 str += "</li>";
										 }
								 });
								 str += "</ul>";
								 $resultContent.innerHTML = str;
						 });
				 }
		 });
	}


</script>
</html>

    </div>
  </article>

          </div>
          

        </div>
      </main>

      <footer id="footer" class="footer">

  <div class="social-links">
    
      
        
          <a href="mailto:wangkangning1@foxmail.com" class="iconfont icon-email" title="email"></a>
        
      
    
      
    
      
    
      
    
      
    
      
    
      
        
          <a href="http://github.com/corn1ng" class="iconfont icon-github" title="github"></a>
        
      
    
      
    
      
    
      
    
      
    
      
    
      
        
          <a href="https://www.instagram.com/brett0427/" class="iconfont icon-instagram" title="instagram"></a>
        
      
    
    
    
      
      <a href="/atom.xml" class="iconfont icon-rss" title="rss"></a>
    
  </div>


<div class="copyright">
  

  <span class="copyright-year">
    
    &copy; 
     
      2017 - 
    
    2020

    <span class="heart">
      <i class="iconfont icon-heart"></i>
    </span>
    <span class="author">corn1ng</span>
  </span>
</div>

      </footer>

      <div class="back-to-top" id="back-to-top">
        <i class="iconfont icon-up"></i>
      </div>
    </div>

    
  
  

  



    
  





  
    <script type="text/javascript" src="/lib/jquery/jquery-3.1.1.min.js"></script>
  

  
    <script type="text/javascript" src="/lib/slideout/slideout.js"></script>
  

  
    <script type="text/javascript" src="/lib/fancybox/jquery.fancybox.pack.js"></script>
  


    <script type="text/javascript" src="/js/src/even.js?v=2.6.0"></script>
<script type="text/javascript" src="/js/src/bootstrap.js?v=2.6.0"></script>

    
    <script type="text/javascript"
    color="0,0,255" opacity='0.99' zIndex="-2" count="100" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>
    
  </body>
</html>
